


/*----------------------------------------------------------------------------------
    SCREENS LESS OR EQUAL TO 1200PX -- BIG TABS --- WIDTH SMALLER THAN 1400PX ROW
------------------------------------------------------------------------------------*/
@media only screen and (max-width:1200px){
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row{
        padding: 0 2%;
    }
}


/*-----------------------------------------------------------------------------------
    SCREENS FROM 768PX TO 1023PX
-------------------------------------------------------------------------------------*/
@media only screen and (max-width:1023px){
    body {
        font-size: 18px;
    }
    
    section{
        padding: 5% 0;
    }
    h2:after{
        display: block;
        content: "";
        height: 1px;
        width: 300px;
        background-color: green;
        margin: 2% 0 0 29%;
    }
}

/*-----------------------------------------------------------------------------------
    PHONES SCREEN FROM 481PX TO 767PX
-------------------------------------------------------------------------------------*/
@media only screen and (max-width:767px) {

}



/*-----------------------------------------------------------------------------------
    SMALL PHONES SCREEN LESS OR EQUAL 480PX
-------------------------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {

}