


/*----------------------------------------------------------------------------------
    SCREENS LESS OR EQUAL TO 1200PX -- BIG TABS --- WIDTH SMALLER THAN 1400PX ROW
------------------------------------------------------------------------------------*/
@media only screen and (max-width:1200px){
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row{
        padding: 0 2%;
    }
}


/*-----------------------------------------------------------------------------------
    SCREENS FROM 768PX TO 1023PX
-------------------------------------------------------------------------------------*/
@media only screen and (max-width:1023px){
    body {
        font-size: 18px;
    }
    
    section{
        padding: 5% 0;
    }
    h2:after{
        display: block;
        content: "";
        height: 1px;
        width: 300px;
        background-color: green;
        margin: 2% 0 0 29%;
    }

    .steps-box{margin-top: 10px;}
    .steps-box:last-child{
        margin-top: 10px; 
        padding-left: 0%;
        }
    .work-steps{margin-bottom: 40px;}
    .work-steps{padding-left: 0px;};
    .work-steps:last-of-type{margin-bottom: 60px;}

    .work-steps p {font-size: 90%;}

    .btn-app img {
        height: 35px;
        width: auto;
    }

    .num-sub {
        vertical-align: middle;
        padding-bottom: 1%;
        padding-right:0%;
    }
    .chef-star {
        padding-right:0%;
    }
    
    .twi-icon {
        vertical-align: middle;
        padding-bottom: 1%;
        padding-right: 0%;
    }

    .section-cities {font-size: 90%;}

}

/*-----------------------------------------------------------------------------------
    PHONES SCREEN FROM 481PX TO 767PX
-------------------------------------------------------------------------------------*/
@media only screen and (max-width:767px) {

}



/*-----------------------------------------------------------------------------------
    SMALL PHONES SCREEN LESS OR EQUAL 480PX
-------------------------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {

}