/*------------------------------------------------------------
BASIC SETUP
------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*------------------------------------------------------------
  REUSABLE COMPONENTS
------------------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

section {
    padding: 7% 0;
}

.box {
    padding: 3px;
    text-align: left;
}

/*------------------------------------------------------------
  HEADINGS
------------------------------------------------------------*/
h1,
h2,
h3 {
    font-weight: 320;
    text-transform:uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color:ivory;
    font-size:240%;
    word-spacing: 4px;
    text-shadow:rgb(22, 3, 1) 1px 1px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 3%;
    letter-spacing: 1px;
}

h2:after{
    display: block;
    content: "";
    height: 1px;
    width: 300px;
    background-color: green;
    margin: 15px 0 0 410px;
}

h3 {
    font-size: 115%;
    font-weight: 400;
    padding-bottom: 7%;
    text-align: center;
}


/*------------------------------------------------------------
  HEADER
------------------------------------------------------------*/

header {
    background-image: linear-gradient(to right, rgba(10, 8, 12, 0.7), rgba(71, 71, 71, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style:none;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    margin-top: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding-bottom: 3px;
    color: ivory;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition-property: border-bottom;
    transition-duration: 500ms;
}

.main-nav li a:hover,
.main-nav li a:active {
   border-bottom: 2px solid #e67e22;
}


.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

/*------------------------------------------------------------
  BUTTONS
------------------------------------------------------------*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border: 1px, solid #e67e22;
    border-radius: 100px;
    color:ivory;
    margin-right: 20px;
    transition: background-color 500ms, color 500ms, border 500ms;
}

input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
}


.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color:#924d10;
    border: 1px solid #924d10;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #924d10;
    color:ivory;
}

/*------------------------------------------------------------
  ICONS
------------------------------------------------------------*/

.box ion-icon {
    font-size: 250%;
    padding-bottom: 10%;
    padding-left: 35%;
}

.calendar {
    color:rgb(68, 29, 207);
}

.alarm {
    color: rgb(219, 37, 219);
}

.leaf {
    color: green;
}

.cart {
    color:#e67e22;
}

/*------------------------------------------------------------
  PARAGRAPH IN FEATURES SECTION
------------------------------------------------------------*/

.long-copy {
    font-size: 95%;
    font-weight: 400;
    line-height: 145%;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    padding-bottom: 4%;
}

.box p {
     font-size: 95%;
     line-height: 145%;
}


/*------------------------------------------------------------
  MEALS SECTION
------------------------------------------------------------*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
    height: auto;
}

.meal-photo {
    width: 100%;
    overflow: hidden;
    background-color:#000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.20);
    transition-duration: 700ms;
}

.meal-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}

/*------------------------------------------------------------
  HOW IT WORKS
------------------------------------------------------------*/

.section-steps {
    background-color: rgb(238, 238, 238);
}

.steps-box:first-child{
    text-align: right;
    padding-right: 10%;
    margin-top: 5%;  
}

.work-steps:last-of-type{
    margin-bottom: 50px;
}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 100px;
}

.app-screen {
    width: 40%;
}

.work-steps {
    margin-bottom: 5%;
}

.work-steps div{
    display: block;
    color: #e67e22;
    border: 1px solid #e67e22;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    padding-top: 8px;
    margin-right: 20px;
    text-align: center;
    float: left;
    font-size: 120;
}

.work-steps p{
    padding-top: 5px;
}

.steps-box a{
    padding-right: 50px;
}

.btn-app img {
    height: 50px;
    width: auto;
}

.cities{
    
}

.citiclass{
    margin: 0 100px 0 100px;
    overflow: hidden;
}
.simg{
    max-width: 100%;
    height: auto;
}

.sicon {
    max-width: 20px;
    height: auto;
}
.citides{
    line-height: 145%;
    margin-top: 1px;
}
.citides h3{
    padding-top: 2px;   
}

/*------------------------------------------------------------
 CURRENT CITIES
------------------------------------------------------------*/

.city-det {
    display: block;
    float: left;
    width: 23%;
    height: auto;
}

.city-img img {
    width: 100%;
    height: auto;

}

.section-cities h2 {
    padding-bottom: 7%;
}

.city-name h3 {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 2%;
}

.city-growth {
    font-size: 95%;
    text-align: left;
    padding-left: 5%;
}

.chef-city{
    padding-bottom: 1%;
}

.twitter-social{
    padding-bottom: 1%;
}


.num-sub {
    color: #e67e22;
    vertical-align: middle;
    padding-bottom: 1%;
    padding-right:4%;
}

.chef-star {
    color: #e67e22;
    padding-right:4%;
}

.twi-icon {
    color: #e67e22;
    vertical-align: middle;
    padding-bottom: 1%;
    padding-right: 4%;
}

.twitter-social a:link,
.twitter-social a:visited {
    color: rgb(68, 29, 207);
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(68, 29, 207);
    transition-duration: 300ms;
}

.twitter-social a:hover,
.twitter-social a:active{
    color: #e67e22;
    border-bottom: 1px solid transparent;
}

/*------------------------------------------------------------
    TESTIMONIAL
------------------------------------------------------------*/

.section-testimonials{
    background-image: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote{
    padding: 2%; 
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before{
    display: block;
    content: "\201C";
    font-size: 400%;
    position:absolute;
    top: -5px;
    left: -5px;
}

cite{
    display: block;
    font-size: 90%;
    margin-top: 25px;
}

cite img{
    height: 50px;
    border-radius: 50%;
    margin-right: 4%;
    vertical-align: middle;
}

/*------------------------------------------------------------
    SIGN UP
------------------------------------------------------------*/

.section-plans {
    background-color: rgb(238, 238, 238);
}

.plan-box {
    background-color: #fff;
    border-radius: 8%;
    width: 90%;
    margin: 5%;
    box-shadow: 5px 5px 10px rgb(255, 180, 180);
}

.plan-box div:first-child{
    background-color: rgb(250, 250, 250) ;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
}

.plan-box div:last-child {
    text-align: center;
    border:none;
    padding-left: 10%;
}

.plan-box h3 {
    text-align: center;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid  rgb(240, 240, 240);
}

.plan-price span{
    font-size: 30%;
    font-weight: 300;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li{
    padding: 5px 0 5px 0;
}
 
.plan-box ul li ion-icon {
   font-size: 70%;
}

.plan-box ul li span {
    text-decoration: line-through;
}

/*-----------------------------------------------------
 CONTACT FORM
 ------------------------------------------------------*/

.contact-form{
    width: 70%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 1%;
    border-radius: 7px;
    border: 1px solid rgb(210, 210, 210);
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus{outline: none;}

/*----------------------------------------------
  FOOTER
------------------------------------------------*/

footer{
    background-color: rgb(243, 242, 242);
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
    margin-left: 300px;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
    color: rgb(27, 24, 9);
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}