* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

header {
    background-image: linear-gradient(to right, rgba(10, 8, 12, 0.7), rgba(71, 71, 71, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color:ivory;
    font-size:240%;
    font-weight: 320;
    text-transform:uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-shadow:rgb(196, 49, 38) 2px 2px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border: 1px, solid #e67e22;
    border-radius: 100px;
    color: #fff;
    margin-right: 20px;
}



.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
}


.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color:#924d10;
}